* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
}

body > * {
    padding: 0px 250px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

.header, .overview-section {
    background-color: #1f2937;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
}

.header {
    align-items: center;    
}

.header-links, .overview-subtitle {
    font-size: 18px;
    color: #e5e7eb;
}

.header-links {
    display: flex;
    gap: 30px;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

.overview-section {
    gap: 20px;
}

.overview-section p {
    margin: 10px 0;
}

.overview-title {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
}

.overview-image {
    flex: 1;
    /* width: 500px; */
    /* height: 100px; */
    border: 3px solid white;
}

.overview-left {
    flex: 1;
}

.overview-button, .action-button {
    padding: 8px 35px;
    background-color: #3882f6;
    color: white;
    font-weight: bold;
    font-size: 17px;
    border-radius: 10px;
    border: none;
}

.detailed-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.detailed-header {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.detailed-card-list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.detailed-card {
    flex: 1;
}

.detailed-card-image {
    width: 200px;
    height: auto;
    display: block;
    margin: 0 auto;
    border: 5px solid #3882f6;
    border-radius: 20px;
}

.detailed-card-subtext  {
    text-align: center;
}

.testimony-section {
    background-color: #e5e7eb;
    padding: 100px 300px;
}

.testimony-quote {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1f2937; 
}

.testimony-source {
    text-align: right;
    font-weight: bold;
    font-size: 20px;
}

.action-section {
    /* display: flex;
    align-items: center; */
    padding: 100px 250px;
    /* might be able to refactor this */
}

.action-banner {
    flex: 1;
    background-color: #3882f6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    min-height: 150px;
    border-radius: 7px;
    color: white;
}

.action-banner p {
    margin: 0;
}

p.action-title {
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 3px;
}

.action-button {
    border: 3px solid white;
}

.footer {
    flex: 0 0 100px;
    background-color: #1f2937;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
}